body {
    text-align: center;
}

.bodyContainer {
    margin-top: 75px;
}

.bodyContainer input {
    color: #b8bfc5;
    border: 3px solid #dee2e6;
    border-radius: 15px;
    font-size: larger;
    width: 500px;
    height: 65px;

}
.bodyContainer button {

    background-color: #ff8e88;
    color: black;
    margin-left: 10px;
    padding: 28px 30px;
    border: none;
    border-radius: 15px;

}

.bodyContainer button:hover {

    background-color: hsl(3, 100%, 65%);
    color: black;
    margin-left: 10px;
    padding: 28px 30px;
    border: none;
    border-radius: 15px;
}